:root {
    --dark-color: #000000;
    --white-color: #FFFFFF;
}

body {
    background: #303030;
    font-family: "Cera Pro", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--white-color);
}

.container {
    max-width: 1172px;
    margin: 0 auto 75px;
    padding: 0 16px;
}

.advantage {
    position: relative;
    padding: 47px 0 111px;
    background-color: #000;
}

.advantage__container {
    margin-bottom: 0;
}

.advantage__img-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.advantage__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.advantage__heading {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.advantage__logo {
    height: 35px;
    width: 321px;
}

.advantage__title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 30px;
    color: #fff;
    font-size: 24px;
    line-height: 120%;
    font-weight: 500;
}
.card_border .btn-border {
    width: 100%;
    height: 100%;
}
.btn .btn-border, .card_border .btn-border {
    position: absolute;
    top: 0;
    left: 0;
}
.card_border .btn-border rect {
    stroke-dasharray: 2000;
}

.advantage__list {
    position: relative;
    z-index: 1;
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 576px;
    flex-wrap: wrap;
}

.advantage__item {
    position: relative;
    width: 278px;
    padding: 18px;
    border-radius: 20px;
    background: rgb(24 24 24 / 0%);
    font-size: 16px;
}

.advantage__item-descr {
    display: flex;
    align-items: center;
    gap: 26px;
}

.advantage__item-number {
    text-align: left;
    font-size: 40px;
    color: rgb(126 125 125 / 74%);
    font-weight: 500;
    line-height: 55px;
}

.advantage__item-text {
    font-size: 16px;
    font-weight: 400;
}


@media(max-width: 999px) {
    .advantage {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .advantage__container {
        display: flex;
        flex-direction: column;
    }

    .advantage__heading {
        flex-direction: column;
        align-items: flex-start;
    }

    .advantage__title {
        padding: 0;
    }

    .advantage__title .btn-border {
        display: none;

    }

    .advantage__list {
        align-self: center;
        max-width: 532px;
    }

    .advantage__item-descr {
        gap: 18px;
    }

    .advantage__item {
        width: 256px;
    }
}

@media(max-width: 640px) {
    .advantage__logo {
        width: 100%;
        max-width: 328px;
    }

    .advantage {
        padding: 32px 0 48px;
    }

    .advantage__heading {
        text-align: center;
        align-items: center;
        gap: 17px;
    }
}

@media(max-width: 576px) {
    .advantage {
        background-color: #181818;
    }

    .advantage__img {
        object-fit: contain;
        object-position: top;
    }

    .advantage__item {
        flex-grow: 1;
    }

    .advantage__item-descr {
        gap: 26px;
    }
} 


/* section-1

 /* .exterior {
    padding-top: 75px;
}

/* .exterior,
.interior {
    background: linear-gradient(to right, #80808094, white);
} */

.exterior__container,
.interior__container {
    margin-bottom: 0px;
    padding-bottom: 75px;
} 


.interior__content {
    max-width: 1172px;
    margin: 0 auto 75px;
    padding: 0px 16px;
    padding-left: 50px;
    margin-bottom: 120px;
}

.exterior__title,
.interior__title {
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 40px;
}

.tab {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
}

.exterior .btn,
.interior .btn {
    width: 270px;
}

.btn__container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn__container-2 {
    align-self: flex-end;
}
.main__btn_dark, .main__btn_dark .btn__inner span {
    color: var(--dark-color);
}

.tab__btn {
    margin-top: 0;
    width: 270px;
    height: 53px;
    font-size: 24px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    color: #4c4c4c;

}

.tab__btn .btn-border {
    width: 100%;
    height: 100%;
}

.tab__btn:hover,
.tab__btn.active {
    background-image: linear-gradient(to right, gray, black) !important;
    color: white;
}

.tab-content:disabled {
    background-image: none;
    cursor: not-allowed;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.tab__content__block {
    display: flex;
    height: 500px;

}

.photo-container {
    height: 100%;
}

.photo-container.grouped {
    display: flex;
    flex-direction: column;
    width: 483px;
}

.grouped-photo {
    height: 50%;
}

.grouped-box {
    display: flex;
    height: 50%;
}

.grouped-box .grouped-photo {
    height: 100%;
}

.photo-container img,
.grouped-photo img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.grouped-box .grouped-photo:first-child {
    width: 291px;
}

.grouped-box .grouped-photo:last-child {
    width: 192px;
}

.img__tab {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img__tab:hover {
    cursor: pointer;
}

@media(max-width: 999px) {
    .exterior {
        padding-top: 40px;
    }

    .exterior__container {
        padding-bottom: 20px;
    }

    .interior__container {
        padding-bottom: 40px;
    }

    .exterior__title,
    .interior__title {
        padding-bottom: 20px;
    }

    .tab {
        gap: 20px;
    }

    .tab-content {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .exterior .btn,
    .interior .btn {
        width: 100%;
        max-width: 189px;
    }

    .photo-container {
        height: 189px;
        width: calc(100% / 3);
    }

    .grouped-photo,
    .grouped-box {
        height: 189px;
        width: 100%;
    }

    .grouped-box {
        position: absolute;
        left: 0;
        top: 189px;
        justify-content: flex-end;
        width: 608px;
    }

    .grouped-box .grouped-photo:last-child {
        width: calc(100% / 3);
    }

    .grouped-box .grouped-photo:first-child {
        width: calc((100% / 3)*2);
    }

    .photo-container.grouped {
        height: 384px;
        width: calc((100% / 3)*2);
    }



    .tab__content__block {
        flex-direction: column;
        max-height: 384px;
        flex-wrap: wrap;
    }
 } 

@media(max-width: 640px) {
    .exterior {
        padding-top: 48px;
    }

    .exterior__container {
        padding-bottom: 26px;
    }

    .interior__container {
        padding-bottom: 48px;
    }

    .exterior__title,
    .interior__title {
        padding-bottom: 26px;
        font-size: 24px;
    }

    .btn__container-tab {
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        gap: 8px;
    }

    .tab {
        gap: 26px;
    }

    .tab__btn {
        height: 30px;
        font-size: 12px;
        line-height: 120%;
        justify-content: flex-start;
        padding-left: 20px;

    }

    .exterior .btn,
    .interior .btn {
        width: 160px;
    }

    .photo-container {
        width: 100%;
        height: 251px;
    }

    .tab__content__block {
        max-height: 568px;
        flex-wrap: nowrap;
    }

    .tab-content.active {
        gap: 32px;
    }

    .photo-container.grouped {
        width: 100%;
        height: 351px;
    }

    .grouped-photo {
        height: 181px;
    }

    .grouped-box {
        position: initial;
        width: 100%;
        order: -1;
        height: 136px;
    }

    .grouped-box .grouped-photo:first-child,
    .grouped-box .grouped-photo:last-child {

        width: 50%;
    }

    .exterior .btn,
    .interior .btn {
        width: 144px;
        height: 28px;
        font-weight: bold;
    }

    .exterior .btn .icon-arrow_forward,
    .interior .btn .icon-arrow_forward {
        margin-left: 8px;
    }
}

.btn {
    display: block;
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    border: none;
    background-color: transparent;
    min-width: 175px;
    border-radius: 10px;
    height: 51px;
}

.card_border {
    position: relative;
}

.btn .btn-border,
.card_border .btn-border {
    position: absolute;
    top: -2px;
    left: 0;
}

.btn .btn-border {
    width: 100%;
    height: 100%;
}

.card_border .btn-border {
    width: 100%;
    height: 100%;
}



.btn:hover {
    cursor: pointer;
}

.btn-border rect {
    fill: transparent;
    height: 100%;
    width: 100%;
    stroke-dasharray: 500;
}

.card_border .btn-border rect {
    stroke-dasharray: 2000;
}

.btn-prev .btn-border rect {
    stroke-dasharray: 500;
} */

.btn:not(.btn-prev, .form__btn, .slider__button-next, .slider__button-prev, .tab__btn):hover .btn-border rect {
    animation: btnBorderAnimation 2s ease-in-out infinite;
} 
 .btn-prev:hover .btn-border rect {
     /* animation: btnBorderAnimation 2s ease-in-out infinite; */
     /* animation-direction: reverse;  */
 }

 .btn-prev:hover .icon-arrow_back {
    animation: arrowBack 2s ease-in-out infinite;
}

.btn-prev:hover .icon-arrow_forward {
    animation: arrowBack 2s ease-in-out infinite;
}

.btn-forward:hover .icon-arrow_forward {
    animation: arrowForward 2s ease-in-out infinite;
}

.btn__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.btn__icon {
    stroke: #fff;
    height: 18px;
    width: 12px;
}

.icon-arrow_back {
    margin-right: 16px;
}

.icon-arrow_forward {
    margin-left: 16px;
}

@keyframes arrowBack {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes arrowForward {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
    }
}


@keyframes arrowForwardBrands {
    0% {

        transform: translateX(0px);
    }

    50% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes btnBorderAnimation {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
} 


/* Choice  */


.choice {
    background: #1E1E1E;
    padding-top: 80px;
    padding-bottom: 75px;
}

.dark__container {
    background-image: url(/images/logo/logo3.png);
    background-size: 49%;
    background-position: top 5% right -12%;
    background-repeat: no-repeat;
}

.title__text {
    line-height: 1px;
    font-weight: 400;
    font-size: 40px;
    padding-bottom: 70px;
}
.descr__logo {
    text-transform: uppercase;
    font-weight: 700;
}

.container__block-choice {
    background: linear-gradient(rgb(255 255 255 / 10%), rgba(255, 255, 255, 0));
    display: flex;
    padding-bottom: 50px;
}
.container__image {
    position: relative;
}
.choice__image {
    width: 290px;
    display: flex;
    padding-top: 35px;
}

.container__image img,
.container__choice-cars .choice__image img {
 object-fit: cover;
 height: 100%;
 width: 100%;
}

.container__choice-cars {
    display: flex;
    position: relative;
    width: 580px;
}
.choice__item-descr{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    padding: 35px 45px;
}
.choice__item-title,
.choice__list-title {
    display: flex;
    align-items: center;
    font-size: 40px;
    line-height: 100%;
    font-weight: 500;
}
.text__black {
    color: var(--dark-color);
}

.choice__block {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 580px;
}
.btn__choice-descr {
padding: 30px 20px;
}

.btn__choice-title {
font-weight: 500;
font-size: 40px;
line-height: 100%;
}

.choice__box-btn {
    display: flex;
    justify-content: space-between;
}
.choice__btn {
    display: flex;
    align-items: end;
}
.choice__image {
    position: relative;
}
.choice__image:nth-child(1) .choice__list-descr,
.choice__image:nth-child(2) .choice__list-descr {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 33px 20px;
}
 

.descr {
    color: var(--white-color);
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
}

/* @media(max-width: 999px) {
    .container {
        max-width: 640px;
        margin: 0 auto 40px;
    }
    .choice {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
     .title__text {
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .container__image {
        height: 224px;
        width: 313px;
    }
    .container__block-choice {
        padding-bottom: 40px;
        margin-right: -67px;
        margin-left: 7px;
        
    }
    .choice__item-title {
     font-size: 32px;
     line-height: 120%;

    }
    .choice__item-descr {
        position: absolute;
        bottom: 0;
        left: 0;
        width: max-content;
        padding: 8px 20px;
    }
    .choice__btn {
       width: 294px;
       height: 224px;
       padding-bottom: 20px;
    }
    .container__choice-cars {
        width: 643px;
        height: 224px;
        display: flex;
        bottom: 0;
        left: -317px;
      
    }

    .choice__block {
        margin-right: -26px;
        
    }
    .choice__image {
        width: 325px;
        padding-top: 0;

    }
    .choice__box-btn {
        width: 294px;
    }
    .choice__image:nth-child(1) .choice__list-descr,
    .choice__image:nth-child(2) .choice__list-descr {
       padding: 8px 20px;
}
.group__image-main:nth-child(2) .block__main-img:nth-child(2) img {
    width: 295px;
}
} */
 


/* SECTION -3  MAIN*/
/* .container__main,
.exclusive__container {
    background: #1E1E1E;
    margin-top: -75px;
    margin-bottom: -75px;
}
.container__block-main,
.container__block-exclusive {
    background: linear-gradient(rgb(255 255 255 / 10%), rgba(255, 255, 255, 0));
    padding-bottom: 75px;
    display: flex;
}
.group__image-main,
.group__image-exclusive {
    display: flex;
}

.box-image-main .group__image-main .block__main-img img,
 .container__main-car .main__image img,
 .box-image-exlusive .group__image-exclusive .block__exclusive-img img,
 .container__exclusive-car .exclusive__image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.main__item-descr {
    position: absolute;
    margin-left: 53px;
    margin-top: -54px;
}



.main__block,
.exclusive__block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.main__btn,
.exlus__btn {
    padding: 36px 0;
}
.container__main-car,
.container__exclusive-car {
    display: flex;
    align-items: self-end;
    margin-top: auto;
}

.main__image {
    position: relative;
}


.main__list-descr {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 24px 46px;
}

@media(max-width: 999px) {
    .container {
        max-width: 640px;
        margin: 0 auto 40px;
    }
    .container__main,
.exclusive__container {
    padding: 0 80px;
}
    .container__block-main,
.container__block-exclusive {
    padding-bottom: 40px;
    height: 496px;
    margin-right: 173px;

}
.block__main-img,
.block__exclusive-img {
    width: 313px;
    height: 166px;
    position: relative;
}
.main__image,
.exclusive__image {
width: 296px;
height: 164px;
}
.container__main-car,
.container__exclusive-car {
    margin: 45px auto;
}
.group__image-main,
.group__image-exclusive {
    display: grid;
}
.group__image-main:nth-child(2) .block__main-img:nth-child(2) img,
.group__image-exclusive:nth-child(2) .block__exclusive-img:nth-child(2) img {
    position: absolute;
    bottom: 166px;
    left: 312px;
}
.main__item-title,
.exclusive__item-title {
font-weight: 500;
font-size: 32px;
line-height: 120px;
}

.main__list-descr {
    padding: 6px 20px;
}
.main__item-descr,
.exclusive__item-descr__bottom,
.exclusive__item-descr__top {
    position: absolute;
    margin-left: 54px;
    margin-top: -81px;
}
.group__image-main:nth-child(2) .block__main-img:nth-child(2) .main__item-descr {
    position: absolute;
    top: 0;
    left: 284px;
    inline-size: max-content;

}

}  */


/* SECTION  EXCLUS*/
/* .block__exclusive-img,
.exclusive__image {
    position: relative;
}

 .exclusive__item-descr__top {
    position: absolute;
    top: 0;
    left: 0;
    padding: 35px 45px;
}
 .exclusive__item-descr__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 45px;

} */

/* ELECTRO CAR */

.electro__cars {
    position: relative;
    padding: 74px 0 127px;
    background: #000000;
}
.eclectro__content {
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    
}

.electro__img-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.electro__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.electro__left {
    display: flex;
    justify-content: space-between;
}


.electro__title {
    position: relative;
    display: flex;
    align-items: center;
    padding: 30px 82px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
}

 .electro__btn {
    width: 720px;
    height: 107px;
    margin-left: -79px;
    margin-bottom: 101px;
}

 .electro__btn .btn-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.electro__btn .btn-border rect {
    stroke-dasharray: 2000;
}

.container__block-posts {
    display: flex;
    flex-direction: column;
    /* position: relative; */
}

.group__block-posts {
    display: flex;
    justify-content: space-between;
    gap: 54px;
    align-items: end;
}


.posts__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    padding: 20px 14px;
}
.block__posts-descr {
    stroke: rgb(255, 255, 255);
    background: linear-gradient(90.00deg, rgba(140, 139, 139, 0.58) 20.786%,rgba(0, 0, 0, 0.46) 82.64%);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    text-align: justify;
}

.posts__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}
.group__block-posts .posts__item:nth-child(2) {
    width: 100%;
    max-width: 730px;
}
.group__block-posts .posts__item:nth-child(1) {
    width: 100%;
    max-width: 368px;
}

.group__block-posts .posts__item:nth-child(2) .block__posts-descr:nth-child(2) .posts__descr {
    margin-bottom: 20px;
}
.posts__item-bottom .block__posts-descr .posts__descr {
    margin-bottom: 10px;
    margin-top: 10px;
}

.posts__item-bottom {
    width: 100%;
    max-width: 1152px;
} 

   
@media(max-width: 999px) {
    .container {
        max-width: 640px;
        padding: 0 16px;
    }
    .electro__cars {
       padding: 40px 0;
    }

     .electro__btn {
        max-width: 419px;
        width: 100%;
        margin-left: -35px;
    }
    .electro__btn .btn-border rect {
        stroke-dasharray: 2019;
    }
    .electro__title {
    line-height: 100%;
    padding: 14px 17px;
    }
    .container__block-posts {
        /* margin-top: -92px; */
    }
   .group__block-posts {
    gap: 18px;
   }

   .group__block-posts .posts__item:nth-child(1) {
    width: 100%;
    max-width: 277px;
}
   .posts__title {
    padding: 20px;

   }
   .block__posts-descr {
    text-align: left;
   }
   .group__block-posts .posts__item:nth-child(2) {
    width: 100%;
    max-width: 334px;
}
.group__block-posts .posts__item:nth-child(2) .block__posts-descr:nth-child(2) .posts__descr {
     margin-bottom: -16px;
    padding-right: 19px;
}
.posts__item-bottom {
    width: 100%;
    max-width: 629px;
} 
.posts__item-bottom .posts__title {
    width: 83%;
}

}
@media (max-width: 640px) {
    .electro__cars {
        padding: 16px 16px 48px 16px;
    }
    .container {
        max-width: 100%;
    }
    .electro__img {
        object-fit: contain;
        object-position: top;
    }
    .electro__title {
        font-size: 20px;
        
    }
    .electro__btn {
        max-width: 328px;
        height: 40px;
    }

}

/* PRICE */
/* .request {
    position: relative;
    padding: 87px 0;
    background: linear-gradient(to left, #80808094, white);
    margin-top: -48rem;
}


.request__img-box {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 720px;
    transform: translate(48rem, 19rem);
}

.request__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.request__container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 40px;
    max-width: 1140px;
}

.request__left,
.request__right {
    position: relative;
    width: 100%;
    justify-content: space-between;
}

.request__left {
    position: relative;
    max-width: 495px;
}

.request__right {
    max-width: 460px;
}

.request__descr {
    position: relative;
    text-align: right;
    padding: 31px 23px;
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    z-index: 10;
    color: white;
}

.request__descr::before {
    content: url(/images/logo/ECOMOBIL.png);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 207px 0px 60px 44px;
}


.form {
    max-width: 460px;
    width: 100%;
}


.form__title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
}


.form__box {
    padding: 44px;
    display: flex;
    flex-direction: column;
    margin-bottom: 54px;
    gap: 17px;
    border-radius: 20px;
    box-shadow: 6px 6px 12px 0px rgb(131, 124, 117);
    background: linear-gradient(290deg, rgb(94 87 87) 4.821%, rgb(88 82 82 / 0%) 115.075%);
    color: var(--white-color);
}

.form__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__item label {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}

.form__item input {
    min-height: 78px;
    box-sizing: border-box;
    border: 4px solid rgba(255, 255, 255, 0.29);
    border-radius: 20px;
    background: rgb(32, 32, 32);
}

.form__btn .btn-border,
.form__btn {
    width: 100%;
    color: var(--dark-color);
}

.request__descr .btn-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.request .btn-border rect,
.form__btn .btn-border rect {
    stroke-dasharray: 1000;

}

.form__btn:hover .btn-border rect {
    animation: btnFormBorderAnimation 2s ease-in-out infinite
}

@keyframes btnFormBorderAnimation {
    0% {
        stroke-dashoffset: 2000;
    }

    100% {
        stroke-dashoffset: 0;
    }
} */

/* // reviews */

/* .reviews {
    position: relative;
    background: #181818;
    padding: 40px 136px 194px 129px;
}

.reviews__container {
    margin: 0 auto;
    max-width: 1440px;
    padding-left: 27px;
    padding-top: 64px;
    display: flex;
}

.btn__small {
    display: block;
    position: relative;
    border: none;
    background-color: transparent;
    width: 30px;
    height: 51px;
}

.btn__small .btn-border__back,
.btn__small .btn-border__forward {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 51px;
}

.btn__small:hover,
.btn__gray:hover,
.btn__long:hover {
    cursor: pointer;
}

.btn-border__back rect,
.btn-border__forward rect,
.btn-border__gray rect {
    fill: transparent;
    height: 100%;
    width: 100%;
    stroke-dasharray: 500;
}

.btn__small:not(.btn-prev, .form__btn, .btn-forward):hover .btn-border__forward rect,
.btn__small:not(.btn-prev, .form__btn, .btn-back):hover .btn-border__back rect,
.btn__gray:not(.btn-prev, .form__btn, .btn-linear):hover .btn-border__gray rect,
.btn__long:not(.btn-prev, .form__btn, .btn-forward):hover .btn-border__long rect {
    animation: btnBorderAnimation 2s ease-in-out infinite;
}

.btn-back:hover .icon-arrow_back,
.btn-forward:hover .icon-arrow_forward {
    animation: arrowForwardBrands 2s ease-in-out infinite;
}

.reviews__block-item {
    display: flex;
    flex-direction: row;
    padding-top: 36px;
    gap: 16px;

}

.reviews__block-item1,
.reviews__block-item2,
.reviews__block-item3 {
    display: block;
    width: 368px;
    height: 360px;
    background: linear-gradient(to bottom, transparent, transparent), gray;
    border-bottom-left-radius: 33%;
    border-bottom-right-radius: 33%;
    border-top-left-radius: 1%;
    border-top-right-radius: 33%;
}

.reviews__block-item1::before {
    content: "";
    position: absolute;
    top: 336px;
    bottom: 16px;
    left: 188px;
    right: 6px;
    display: block;
    width: 364px;
    height: 381px;
    background: linear-gradient(to right, rgb(255 255 255 / 0%), rgb(255 255 255 / 61%));
    border-bottom-left-radius: 26%;
    border-bottom-right-radius: 25%;
    border-top-left-radius: 13%;
    border-top-right-radius: 31%;
}

.reviews__block-item2::before {
    content: "";
    position: absolute;
    top: 336px;
    bottom: 16px;
    left: 573px;
    right: 6px;
    display: block;
    width: 364px;
    height: 381px;
    background: linear-gradient(to right, rgb(255 255 255 / 0%), rgb(255 255 255 / 61%));
    border-bottom-left-radius: 26%;
    border-bottom-right-radius: 25%;
    border-top-left-radius: 13%;
    border-top-right-radius: 31%;
}

.reviews__block-item3::before {
    content: "";
    position: absolute;
    top: 337px;
    bottom: 16px;
    left: 959px;
    right: 6px;
    display: block;
    width: 364px;
    height: 381px;
    background: linear-gradient(to right, rgb(255 255 255 / 0%), rgb(255 255 255 / 61%));
    border-bottom-left-radius: 26%;
    border-bottom-right-radius: 25%;
    border-top-left-radius: 13%;
    border-top-right-radius: 31%;
}

.header__block1::before {
    content: "Имя";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(186px, 234px);
    position: absolute;
    width: 364px;
    height: 102px;
    display: block;
    border: none;
    border-bottom-left-radius: 0% 20%;
    border-bottom-right-radius: 0% 20%;
    border-top-left-radius: 47% 176%;
    border-top-right-radius: 72% 175%;
    background: linear-gradient(to right, rgb(255 255 255 / 68%), #181818f5);
    z-index: 9999;
    padding: 50px 50px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1px;
}

.header__block2::before {
    content: "Имя";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(571px, 234px);
    position: absolute;
    width: 364px;
    height: 102px;
    display: block;
    border: none;
    border-bottom-left-radius: 0% 20%;
    border-bottom-right-radius: 0% 20%;
    border-top-left-radius: 47% 176%;
    border-top-right-radius: 72% 175%;
    background: linear-gradient(to right, rgb(255 255 255 / 68%), #181818f5);
    z-index: 9999;
    padding: 50px 50px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1px;
}

.header__block3::before {
    content: "Имя";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(955px, 234px);
    position: absolute;
    width: 364px;
    height: 102px;
    display: block;
    border: none;
    border-bottom-left-radius: 0% 20%;
    border-bottom-right-radius: 0% 20%;
    border-top-left-radius: 47% 176%;
    border-top-right-radius: 72% 175%;
    background: linear-gradient(to right, rgb(255 255 255 / 68%), #181818f5);
    z-index: 9999;
    padding: 50px 50px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1px;
}

.container__small-btn__back {
    transform: translate(-35px, 153px);
}

.container__small-btn__forward {
    transform: translate(30px, 153px);
}

.descr-text {
    padding: 27px 42px;
    line-height: 1;
}

.button__container {
    display: flex;
    justify-content: end;
    transform: translate(0px, 116px);
}

.btn__gray {
    display: block;
    position: relative;
    border: none;
    background: linear-gradient(to right, rgb(85 85 85 / 46%), rgb(85 85 85 / 78%));
    width: 174px;
    height: 51px;
    color: var(--white-color);
    border-radius: 10px;
}

.btn__gray .btn-border__gray {
    position: absolute;
    top: 0;
    left: 0;
    width: 174px;
    height: 51px;
} */